.table-record__tr__item {
    cursor: pointer;

    &>td>p {
        opacity: .7;
        transition: opacity .2s linear;
    }

    &:hover>td>p {
        opacity: 1;
    }
}

.revenue-detail__table {
    display: flex;
    align-items: flex-start;
    gap: 24px;

    &>.revenue-detail__table-record {
        width: 1017px;
        margin-top: 24px;
    }

    &>.table-right {
        margin-top: -47px;
        
        &>.table__record-plays {
            width: 645px;
            height: 723px;
        }

        &>p.table-right__title {
            color: #E5E5E5;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.048px;
        }

        &>p.table-right__record-name {
            color: var(--color-orange-3);
            font-family: Montserrat;
            font-size: 28px;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: 0.14px;
        }

        &>p {
            text-align: start;

            &+p {
                margin-top: 5px;
            }
        }
    }
}