.edit__form-container__body {
    max-width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.edit__form-container__right {
    &>div:last-child {
        display: flex;
        gap: 92px;
        align-items: center;
        margin-top: 1.5rem;

        &>div.form-group-checkbox {
            display: flex;
            align-items: center;
            gap: 54px;
        }
    }
}

.edit__form-container__left__combo-box {
    & li {
        padding-top: 0 !important;

        &>div {
            width: 256px;
            height: 48px;
            background-color: var(--bg-input);
            outline: none;
            color: var(--white);
            border: 1px solid rgb(114, 114, 136);

            & input {
                text-transform: capitalize;
            }
        }
    }

    & input {
        width: calc(256px - 16px - 24px);
    }
}