.edit__form-container__body {
    max-width: 140rem;
    display: flex;
    justify-content: space-between;
    align-items: start;

    & li {
        width: 100% !important;
    }
}

.edit__form-container__right {
    &>div:last-child {
        display: flex;
        gap: 92px;
        align-items: center;
        margin-top: 1.5rem;

        &>div.form-group-checkbox {
            display: flex;
            align-items: center;
            gap: 54px;
        }
    }
}

.edit__form-container__left__combo-box {
    & li {
        padding-top: 0 !important;

        &>div {
            width: max-content;
            height: 48px;
            background-color: var(--bg-input);
            outline: none;
            color: var(--white);
            border: 1px solid rgb(114, 114, 136);

            & input {
                text-transform: capitalize;
            }
        }
    }

    & input {
        width: calc(256px - 16px - 24px);
    }
}

@media screen and (max-width: '1300px') {
    .authorized-contract-edit {
        & .edit__form-container {
            &>div {
                width: max-content;
                flex-direction: column;
                margin: 0 auto;

                &>div {
                    width: 100%;

                    &>div {
                        justify-content: space-between;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: '1540px') {
    .authorized-contract-edit {
        & .edit__form-container {
            width: calc(100vw - 8rem);
        }
    }
}

@media screen and (max-width: '650px') {
    .authorized-contract-edit {
        & .edit__form-container {
            & input {
                width: calc(100vw - 8rem) !important;

                &[name='comboBoxValue'] {
                    width: calc(100vw - 8rem - 24px) !important;
                }

                &[type='radio'] {
                    width: 2rem !important;
                }
            }

            & .edit__form-container__right {
                &>div {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: '450px') {
    .authorized-contract-edit {
        & .edit__form-container {
            & .edit__form-container__right {
                &>div>div {
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 1.5rem;
                }
            }
        }
    }
}