.unit-management-container {
    & table {
        margin-top: 24px;
        width: 1541px;

        & p {
            white-space: nowrap;
        }
    }

    & .action__remove {
        color: var(--color-red);
    }
}

.table__row__checkbox {
    padding: 0px 0px 8px 8px;

    &>div {
        min-width: auto;
    }
}

@media screen and (max-width: 750px) {
    .unit-management-container {
        & input[name='search'] {
            width: 100%;
        }
    }
}