@media screen and (max-width: '1760px') and (min-width: '900px') {
    div:has(>table.playlist-detail-container) {
        width: calc(100vw - (21rem + 29.8rem)) !important;
    }
}

@media screen and (max-width: '900px') and (min-width: '470px') {
    div:has(>table.playlist-detail-container) {
        width: calc(100vw - (8rem + 29.8rem)) !important;
    }
}

@media screen and (max-width: '470px') {
    div:has(>table.playlist-detail-container) {
        width: calc(100vw - 8rem) !important;
    }
}