.vector-container__top {
    position: fixed;
    top: -6%;
    left: 11%;
    z-index: 4;

    &>svg {
        position: absolute;

        &:last-child {
            margin-left: 140px;
        }
    }
}

.vector-container__bottom-right {
    &>div:first-child {
        position: fixed;
        right: 0;
        bottom: 20%;
    }

    &>div:last-child {
        position: fixed;
        bottom: 10%;
        right: 13%;

        &>svg {
            position: absolute;

            &:last-child {
                margin-left: 9px;
                margin-top: 23px;
            }
        }
    }
}