.login-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-page);

    // &>div {
    //     width: 100%;

    //     &>img {
    //         width: calc(5% + 100px);
    //     }
    // }
}

.content__image {
    width: 287.5px;
    height: auto;
    border-radius: 100%;
    margin: 0 auto;

    &>.r__image {
        object-fit: cover;
    }
}

.login-form__recovery-password,
.recover-form__back-login {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    color: var(--color-orange);
}

.error-message {
    color: var(--color-red);
    margin: 2rem 0;
    width: max-content;
}

@media only screen and (max-width: 380px) {
    .login-container {
        button[type='submit'] {
            padding: 1rem 2rem;
        }

        &>form {
            &>h3 {
                padding: 2rem;
            }
        }
    }
}

@media screen and (max-width: 620px) {
    .login-container {
        form {
            &>div {
                &>p {
                    width: 90% !important;
                    margin: 2rem auto !important;
                }

                &>div:has(input[type='checkbox']) {
                    width: 90%;
                    margin: 0 auto;
                }
            }
        }
    }
}