.form__body {
    & input[type='text'],
    & input[type='date'],
    & input[type='password'] {
        width: 422px;
        height: 48px;
    }
}

.form__left__role {
    margin-top: 15px;

    & .form__left__role__form-group>li {
        &>div {
            width: 422px;
            height: 48px;
            background-color: var(--bg-lighter);
            border: 1px solid rgb(114, 114, 136);

            & input {
                width: calc(422px - 36px) !important;
            }
        }

        &>ul {
            width: 422px !important;
        }
    }
}

.form__left__role,
.form__right>div {
    &>p {
        width: max-content;

        &>span {
            color: var(--color-red);
        }
    }
}

.form__body {
    display: flex;
    align-items: flex-start;
    gap: 64px;

    &>div:last-child {
        margin-top: 0;
    }
}

.form__right {
    &>div:last-child {
        margin-top: 15px;

        &>p {
            width: max-content;
            padding: 1rem 0;
        }

        &>.form__right__group-checkbox {
            display: flex;
            align-items: center;
            gap: 81px;
            height: 48px;
        }
    }
}