.device-container {
    &>div>div:last-child {
        height: calc(100vh);
        overflow-y: overlay;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.device-detail-container {
    width: 1682px;
    height: 480px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    border-radius: 8px;
    background: var(--bg-lighter);
    padding: 24px 125px;
    gap: 3rem;
}

.device-detail__info-left {
    & img {
        border-radius: 16px;
    }

    &>.info-left__status {
        margin-top: 32px;
        text-align: start;
    }
}

.info-title {
    color: var(--color-orange-4);
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.048px;
    margin-bottom: 32px;
    text-align: start;
}

.info-left__status {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.21px;
    position: relative;
    width: max-content;
    margin-top: 32px;

    &::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: -12px;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &.activated::after {
        background-color: var(--color-green);
    }

    &.deactivated::after,
    &.blocked::after {
        background-color: var(--color-red);
    }
}

.info-left__note {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 24px;

    &>p:first-child {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.032px;
    }

    &>p:last-child {
        width: 232px;
        text-align: justify;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: -0.032px;
        opacity: .7;
    }
}

.block-info-content {
    &>div {
        width: 100%;
        justify-content: space-between;
        flex: unset;

        &>div:first-child {
            min-width: 50%;
        }

        &>div:last-child {
            &>p {
                opacity: .7;
            }
        }
    }
}

.device-detail__info-middle {
    &>.info-content {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 38px;

        & p {
            text-align: start;

            &+p {
                margin-top: 24px;
            }
        }

        &>.content-right {

            &>p:nth-child(4),
            &>p:nth-child(7) {
                text-transform: capitalize;
            }
        }
    }
}

.device-detail__info-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
}

.version__content,
.memory__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;

    & p {
        text-align: start;

        &+p {
            margin-top: 24px;
        }
    }

    &>div:first-child {
        min-width: 50%;
    }
}

.content-right {
    &>p {
        opacity: .7;
    }
}

.device__form-edit__device {
    overflow-y: overlay;
    overflow-x: hidden;
    height: 90%;

    & h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.048px;
        padding: 0;
        margin-bottom: 40px;
    }

    & input[type='text'] {
        width: 543px;
    }

    & .device-detail__edit__inputs__status {
        display: flex;
        align-items: center;
        margin-top: 1.5rem;
        gap: 28px;

        &>p {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
        }

        &>.inputs__status__checkbox {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 50px;
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}

.device__form-edit__password {
    & h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.048px;
        padding: 0;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: '1892px') and (min-width: '900px') {
    .device-detail-container {
        width: calc(100vw - 21rem) !important;

        &>div {
            width: 100%;

            &>div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: '1892px') {
    .device-detail-container {
        &>div {
            width: 100%;

            &>div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: '1892px') and (min-width: 650px) {
    .block-info-content {
        &>div {
            &>div:last-child {
                min-width: 50%;
            }
        }
    }

    .version__content {
        &>.content-right {
            min-width: 50%;
        }
    }
}

@media screen and (max-width: '900px') {
    .device-detail-container {
        width: calc(100vw - 8rem);
        padding: 4rem;

        &>div {
            width: 100%;

            &>div {
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: '820px') {

    .device__form-edit__device,
    .device__form-edit__password {

        & div:has(>input[type='text']),
        & div:has(>input[type='password']) {
            width: 100%;

            &>input {
                width: 100% !important;
            }
        }

        &>div>div>div:last-child {
            flex-direction: column;
            align-items: flex-start;

            &>div {
                width: max-content;
                flex-direction: column;
                align-items: flex-start !important;
            }
        }
    }
}

@media screen and (max-width: 650px) {
    .version__content {
        flex-direction: column;
    }

    .device-detail-container {
        & img {
            width: 100% !important;
        }
    }
}