.button {
    width: max-content;
    height: max-content;
    cursor: pointer;
    opacity: 1;
    font-weight: 700;
    background-color: var(--color-orange);
    color: white;
    transition: .25s ease-in-out;
    font-size: 1.3rem;
    position: relative;
    display: inline-flex;
    margin: 4rem auto 0 auto;
    padding: 1.6rem 2.4rem;
    border-radius: 8px;
    border: 1px solid #000;

    &>span {
        width: 160px;
        font-weight: 500;
        line-height: 24px;
        font-size: 18px;
    }

    &+.button {
        margin-left: 3rem;
    }

    &:hover {
        opacity: .9;
    }

    & svg {
        color: var(--white);
    }

    .title {
        font-size: 1.5rem;
    }
}

.button_icon+.title,
.title+.button_icon {
    margin-left: 1rem;
}

.tiny {
    min-width: 3rem;
}

.small {
    &>span {
        width: 12rem;
        font-size: 1.6rem!important;
        font-weight: 600;
    }
}

.large {
    min-width: 15rem;
}

.primary {
    background-color: var(--primary);
    color: var(--white);
    border: .3rem solid #47a0ff;

    &:hover {
        background-color: var(--white);
        color: var(--primary);
        border-color: #47a0ff;
    }

    &:hover svg {
        color: var(--primary);
    }
}

.rounded {
    border-radius: 5rem;
}

.outline {
    background-color: transparent;
    border: 1px solid var(--color-orange);

    &>span {
        color: var(--color-orange);
    }
}

.create {
    background-color: #4baeef;
    color: var(--white);
    border: .3rem solid #4baeef;

    &:hover {
        background-color: var(--white);
        color: #4baeef;
        border-color: #4baeef;
    }

    &:hover svg {
        color: #4baeef;
    }
}

.finished {
    background-color: var(--color-green);
    color: var(--white);
    border: .3rem solid var(--color-green);

    &:hover {
        background-color: var(--white);
        color: var(--color-green);
        border-color: var(--color-green);
    }

    &:hover svg {
        color: var(--color-green);
    }
}

.cancel {
    background-color: #f9902e;
    color: var(--white);
    border: .3rem solid #faaf68;

    &:hover {
        background-color: var(--white);
        color: #f9902e;
        border-color: #faaf68;
    }

    &:hover svg {
        color: #f9902e;
    }
}

.deleteb {
    background-color: #fc3838;
    color: var(--white);
    border: .3rem solid #f15f5f;

    &:hover {
        background-color: var(--white);
        color: #fc3838;
        border-color: #f15f5f;
    }

    &:hover svg {
        color: #fc3838;
    }
}

.disable {
    background-color: #d7d7d7 !important;
    color: var(--white) !important;
    border: .3rem solid #d7d7d7 !important;
    cursor: default !important;
    opacity: 1 !important;

    &:hover {
        transform: none !important;
        background-color: #d7d7d7 !important;
        color: var(--white) !important;
        border-color: #d7d7d7 !important;
    }

    &:hover svg {
        color: var(--white);
    }
}

a.button {
    text-decoration: none;
}