.form {
    display: none;
    transition: all .3s linear;

    &.active {
        display: block;
    }

    &.form-dialog {
        position: fixed;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 3;
        opacity: 0;
        background-color: var(--bg-lightest);
        border-radius: 16px;
        padding: 40px;
    }
}

.form__title {
    font-weight: 700;
    padding: 2rem 0;
    user-select: none;
}

.form__input {
    &>div+div {
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 620px) {
    .form {
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .form {
        width: 70vw;
    }
}