.form {
    display: none;
    transition: all .3s linear;

    &.active {
        display: block;
    }

    &.form-dialog {
        top: 45%;
        z-index: 3;
        opacity: 0;
    }
}

.form__title {
    font-weight: 700;
    padding: 3rem;
    user-select: none;
}

.form__input {
    &>div+div {
        margin-top: 1.5rem;
    }
}