.grid-container {
    width: 100vw;
    height: 100%;
    max-width: 1540px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.grid-container__content {
    display: flex;
    width: 100%;
    height: 722px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    row-gap: 3rem;
    flex-wrap: wrap;
    overflow-y: hidden;
}

.grid-container__option {
    display: flex;
    width: 100%;
    height: 32px;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;

    &>span {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        &>div>input {
            width: 48.374px;
            padding: 6px 16.187px 5px 16.187px;
            border-color: var(--color-orange-4);
        }
    }
}

.grid-container__loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &>div {
        border-color: var(--color-orange) transparent transparent transparent;
    }

    &::after {
        background-color: transparent;
    }
}

@media screen and (max-width: '1600px') {
    .grid-container {
        width: calc(100vw - 8rem);

        & .grid-container__option {
            position: absolute;
            bottom: -62px;
        }
    }
}

@media screen and (max-width: '485px') {
    .grid-container {
        & .grid-container__option {
            width: calc(100vw - 8rem) !important;

            & p {
                display: none;
            }
        }
    }
}

@media screen and (max-width: '726px') {
    .grid-container {
        & .grid-container__option {
            width: 342px;
            padding: 0;
            justify-content: center;

            &>span {
                display: none;
            }

            &>ul {
                padding: 0;
            }
        }

    }
}