.type-contract__form {
    width: max-content;
}

.form__table {
    width: 1143px;

    &>tbody>tr {
        &>td:nth-child(2) {
            & input {
                width: 216px;
            }
        }

        &>td:nth-child(3) {
            & input {
                width: 70px;
            }
        }

        &>td:nth-child(4) {
            & input {
                width: max-content;
            }
        }
    }
}