.config-contract-container {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.contract-container__expiration {
    width: 649px;
    height: 168px;
    border-radius: 16px;
    background: var(--middle-bg);
    padding: 24px;

    &>.expiration__title {
        color: #E5E5E5;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.048px;
        text-align: start;
    }

    &>.expiration__time {
        display: flex;
        align-items: center;
        gap: 16px;
        margin-top: 40px;

        &>p:last-child {
            opacity: .7;
        }
    }
}

.contract-container__table-type {
    width: 868px;
    height: 132px;
}

.config-contract-container {
    &>div:first-child {
        width: max-content !important;
    }
}

@media screen and (max-width: 1670px) {
    .config-contract-container {
        width: calc(100vw - 21rem);
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media screen and (max-width: 1160px) and (min-width: 901px) {
    .config-contract-container {
        &>div:first-child {
            width: calc(100vw - 21rem) !important;
        }
    }
}

@media screen and (max-width: 900px) {
    .config-contract-container {
        width: calc(100vw - 8rem) !important;

        &>div:first-child,
        &>div:last-child {
            width: 100% !important;
        }

        &>div:last-child {
            & p {
                text-align: start;
            }
        }
    }
}