.language-container {
    width: 100%;
    height: auto;

    &>.language-item {
        position: relative;

        &>div:nth-child(1) {
            cursor: pointer;
        }
    }
}

.active-dropdown-true {
    &>div:nth-child(1) {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    &>.language-item__drop-down {
        width: 14rem;
        background-color: var(--bg-page);
    }
}

.top-right {
    display: flex;
    justify-content: flex-end;
}