.revenue-management-container {
    & table {
        width: 1541px;

        & .action {
            width: max-content;
            color: var(--color-orange-4);
            padding: 5px 16px;
            text-decoration: underline;
            cursor: pointer;

            &:hover {
                opacity: 1;
            }
        }
    }

    &>div:last-child {
        &>div:first-child>div {
            width: 1541px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;

            &>div:last-child>div {
                margin-top: 0;
            }
        }
    }
}

.revenue-management-container {
    &>div:last-child {
        &>div:first-child>div {
            &>div:last-child {
                width: max-content;

                &>div {
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }
            }
        }
    }
}

.revenue-management-container {
    input[type='date'] {
        width: 264px;
        margin-left: 4px;
    }
}

.table__title {
    color: #E5E5E5;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.048px;
    margin: 24px 0;
    text-align: start;
}

@media screen and (max-width: '1760px') and (min-width: '759px') {
    .revenue-management-container {
        &>div:last-child {
            &>div:first-child>div {
                width: calc(100vw - 21rem);
            }
        }
    }
}

@media screen and (max-width: '760px') {
    .revenue-management-container {
        &>div:last-child {
            &>div:first-child>div {
                width: calc(100vw - 8rem);

                & input {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and (max-width: '1200px') {
    .revenue-management-container {
        &>div:last-child {
            &>div:first-child>div {
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
            }
        }
    }
}

@media screen and (max-width: '400px') {
    .revenue-management-container {
        &>div:last-child {
            &>div:first-child>div {
                &>div:last-child>div {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }
        }
    }
}