.common-page {
    position: relative;

    &>header>h3 {
        width: max-content;
    }

    &>.content-container {
        width: 100%;
        margin-top: 24px;

        &>div>input {
            padding: 12px 24px;
        }
    }
}

.content {
    width: 100%;
    position: relative;

    &>.content__table-data {
        width: 1541px;
    }
}

.content__action {
    width: 1541px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &>.action__type-load {
        &>svg {
            cursor: pointer;
            opacity: 1;

            &:hover {
                opacity: .8;
            }

            &+svg {
                margin-left: 16px;
            }
        }

        &.table-visible {
            &>svg:first-child {
                color: var(--color-orange);
            }
        }

        &.grid-visible {
            &>svg:last-child {
                color: var(--color-orange);
            }
        }
    }

    &>div {
        margin-top: 24px;
    }
}

.content__action {
    &>div>div {
        &>div+div {
            margin-left: 64px;
        }
    }
}

.action-type-container {
    &>div {
        &>svg {
            cursor: pointer;
            opacity: 1;

            &:hover {
                opacity: .8;
            }

            &+svg {
                margin-left: 16px;
            }
        }

        &.table-visible {
            &>svg:first-child {
                color: var(--color-orange);
            }
        }

        &.grid-visible {
            &>svg:last-child {
                color: var(--color-orange);
            }
        }
    }
}

.content-container__filter-box {
    width: 100%;
}

@media screen and (max-width: '1600px') {
    .content__action {
        width: max-content;
    }
}

@media screen and (max-width: '900px') {
    .content__action {
        & svg {
            width: 25px;
            height: 25px;
        }
    }
}