.apply-schedule-container {
    & table {
        width: 1688px;

        & .table-checkbox {
            padding: 8px 30px 8px 8px;
        }

        & tr {
            cursor: pointer;
        }
    }
}