.category-form>div {
    &>p {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.048px;
        margin: 24px 0;
        text-align: start;
    }

    &>.category-form__table {
        width: 1541px;

        &>tbody {
            &>tr.table__row__edit {
                &>td:nth-child(2) {
                    width: 329px;

                    & input {
                        width: 155px;
                    }
                }

                &>td:last-child {
                    width: 100%;

                    &>div {
                        width: 100%;

                        & input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

.category-form__table {
    & p {
        white-space: wrap;
    }

    .category-description {
        height: 8.8rem !important;
        resize: none;
    }
}