.edit-record {
    width: 100%;
    height: 100%;

    &>header>h3 {
        font-size: 36px;
        font-weight: 700;
        line-height: 48px;
        letter-spacing: -0.072px;
        margin-bottom: 2rem;
    }
}

.edit-record-form {
    margin-top: 24px;
    margin-left: -5.9rem;
}

.edit-record-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;

    &>.record-container__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 24px;

        &>.record__detail,
        &>.record__authorization-info {
            max-width: 570px;
            background-color: var(--bg-lighter);
            border-radius: 8px;
            padding: 32px 22px 16px 24px;
            height: auto;
        }
    }

    &>.record-container__right {
        &>.edit-record-info {
            width: max-content;
            max-width: 743px;
            height: 757px;
            background-color: var(--bg-lighter);
            border-radius: 8px;
            padding: 32px 22px 16px 24px;
        }
    }
}

.record__detail__title,
.authorization-info__title,
.edit-record-info__title {
    color: var(--orange-4-default);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.048px;
    margin-bottom: 2rem;
}

.record__detail__image {
    width: 158px;
    height: 144px;
    margin: 0 auto;

    &>img {
        width: 130px !important;
        height: 130px !important;
    }

    &>div {
        &>label>svg {
            width: 24px;
            height: 24px;
            position: relative;
            z-index: 2;
        }
    }
}

.record__detail__mp3 {
    display: flex;
    width: max-content;
    align-items: center;
    gap: 8px;
    margin: 18px auto 24px auto;

    &>svg {
        color: #18E306;
    }

    &>p {
        opacity: 0.7;
    }
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &>p:last-child {
        opacity: 0.7;
        max-width: 161px;
        text-align: end;
    }

    &+.content {
        margin-top: 16px;
    }
}

.group-input {
    width: 100%;

    &>div {
        width: 100%;

        &>li {
            width: 100% !important;
        }
    }

    &>div>p {
        padding: 0 0 8px 0;
    }

    &>div>input {
        width: 695px;
        color: rgba(245, 245, 255, 1);
        opacity: 0.7;
    }

    &>div+div {
        margin-top: 24px !important;
    }
}

.record-combobox {
    &>li {
        &>div {
            width: 695px !important;
            height: 48px;
            background-color: var(--bg-lighter);
            border-color: rgb(114, 114, 136);
            position: relative;
            z-index: 2;
            cursor: pointer;

            &>p {
                opacity: .7;
            }
        }

        &>ul {
            z-index: 1 !important;
            width: 100% !important;
        }
    }
}

.form__action>button {
    width: 208px;
    height: 56px;
}

@media screen and (max-width: '1420px') {
    .edit-record {
        width: calc(100vw - 8rem);

        &>.edit-record-form {
            width: 100%;
            overflow-y: overlay;
            height: calc(100vh - 186px);
            margin: 0 auto;

            &>.edit-record-container {
                flex-direction: column;

                &>.record-container__right {
                    width: max-content;

                    &>.edit-record-info {
                        &>p {
                            width: max-content;
                            margin: 0 auto 2rem auto;
                        }

                        & .group-input>div {
                            &>li>div {
                                width: 100% !important;
                            }

                            &>input {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }

    .edit-record-form::-webkit-scrollbar {
        display: none;
    }

    .edit-record>.edit-record-form {

        .edit-record-info,
        .record__detail,
        .record__authorization-info {
            width: calc(100vw - 8rem);
        }
    }

    .record__detail__content {
        &>.content {
            text-align: start;
        }
    }
}

// @media screen and (max-width: '535px') {
//     .edit-record>.edit-record-form>.form__action {
//         &>button {
//             width: calc(50% - 3rem);
//         }
//     }
// }