.support-feedback {
    div:has(.support-feedback__form) {
        display: flex;
        justify-content: center;

        &>div:first-child {
            display: none;
        }
    }
}

.support-feedback__form {
    width: 100%;
    max-width: 764px;
}

.form__body {
    background-color: var(--middle-bg, rgba(47, 47, 65, 0.70));
    padding: 40px 32px 170px 32px;
    border-radius: 16px;

    & div:has(>input) {
        width: 100%;

        & input {
            width: 100%;
        }
    }

    & div:has(>textarea) {
        width: 100%;

        & textarea {
            width: 100%;
            resize: none;
        }
    }

    &>div+div {
        margin-top: 24px;
    }
}

.form__body__combobox-problem-type {
    width: 100%;

    &>div>p {
        width: 100%;
        text-align: start;
        padding: 1rem 0;
    }

    &>li {
        width: 100% !important;

        &>div {
            background-color: var(--bg-input);
            border: 1px solid rgb(114, 114, 136);

            &>div>input {
                width: 100%;
                height: 48px;
            }
        }

        &>ul {
            width: 100% !important;
            z-index: 1 !important;
        }
    }

    &.invalid {
        &>li>div {
            border-color: var(--color-red);
        }
    }
}

.feedbacks__item {
    display: flex;
    align-items: center;
    gap: 18px;
    padding: 12px;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color .1s linear;

    &>.feedbacks__item__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;

        &>.item__content__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>span {
                &:first-child {
                    font-size: 16px;
                    font-weight: 700;
                }

                &:last-child {
                    color: var(--text-stroke-text-and-stroke, #F5F5FF);
                    font-size: 14px;
                    font-style: italic;
                    font-weight: 400;
                    letter-spacing: 0.21px;
                }
            }
        }

        &>.item__content__content {
            text-align: start;

            &>span {
                display: inline-block;
                max-width: 408px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }

    &.active {
        background: var(--bg-lightest, #3E3E5B);
    }

    &:hover {
        background: var(--bg-lightest, #3E3E5B);
    }
}

.support-feedback-container {
    width: max-content;
    display: flex;
    justify-content: space-between;
    gap: 32px;

    & div:has(>.container__feedbacks) {
        width: 571px !important;
    }

    & .container__feedbacks {
        width: 571px;
        height: 834px;
        padding: 8px;
    }

    &>.container__feedbacks-detail {
        width: 1014px;
        height: 834px;
        padding: 32px;
        border-radius: 16px;
        background: var(--middle-bg, rgba(47, 47, 65, 0.70));

        &>.container__feedbacks-detail__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            &>.feedbacks-detail__header__account {
                display: flex;
                align-items: center;
                gap: 18px;
            }

            &>p:last-child {
                opacity: .5;
            }
        }

        &>.container__feedbacks-detail__content-feedback {
            &>p {
                text-align: start;

                &:first-child {
                    margin: 16px 0 24px 0;
                }

                &:last-child {
                    opacity: .7;
                }
            }
        }
    }
}

.container__feedbacks-detail__image {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        border-radius: 0;
    }
}

@media screen and (max-width: 1760px) and (min-width: 901px) {
    .support-feedback-container {
        &>.container__feedbacks-detail {
            width: calc(100vw - (57.1rem + 23px) - 12rem);
        }
    }
}

@media screen and (max-width: 900px) {
    .support-feedback-container {
        &>.container__feedbacks-detail {
            width: calc(100vw - (57.1rem + 23px) - 8rem);
        }
    }

    .support-feedback__form {
        width: calc(100vw - 8rem);
    }
}

@media screen and (max-width: 1464px) {
    .container__feedbacks-detail__image {
        & img {
            width: 100% !important;
            height: 100% !important;
        }
    }
}

@media screen and (max-width: 1285px) {
    .support-feedback-container {
        width: max-content;
        margin: 0 auto;
        flex-direction: column;
    }

    .container__feedbacks-detail {
        width: 571px !important;
        overflow-y: overlay;
    }
}

@media screen and (max-width: 670px) {
    .support-feedback-container {
        & div:has(>.container__feedbacks) {
            width: calc(100vw - 8rem) !important;
        }

        .container__feedbacks-detail {
            width: calc(100vw - 8rem) !important;
            overflow-y: overlay;
        }
    }
}