.entrusment-contract-container {
    input[name='search'] {
        width: 418px;
    }

    &>div:last-child>div:first-child {
        width: 1541px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>div {
            margin-top: 0;
        }
    }
}

.status {
    position: relative;

    &::after {
        content: "";
        display: block;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 50%;
        left: -15px;
        transform: translateY(-50%);
        border-radius: 50%;
    }

    &.new::after {
        background-color: var(--color-green);
    }

    &.cancelled::after {
        background-color: var(--color-red);
    }

    &.still::after {
        background-color: var(--color-blue);
    }

    &.expiration::after {
        background-color: var(--color-gray);
    }
}