.form {
    margin-top: 24px;

    &>.from__information {
        &>.form__information__block-top {
            width: 1620px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            &>div {
                &:first-child {
                    flex: 2
                }

                &:last-child {
                    flex: 1;
                }
            }
        }

        &>div+div {
            margin-top: 87px;
        }
    }
}

.form__information__block-info {
    &>div>div:last-child {
        &>p {
            text-align: start;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.032px;
            opacity: .7;
        }
    }
}

.block__title {
    display: flex;
    gap: 4px;
    align-items: center;
    justify-content: flex-end;
    width: 540px;

    &>p,
    &>svg {
        text-align: start;
        color: var(--orange-3, #FFAC69);
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.032px;
        margin-bottom: 16px;
    }
}

.block__own-block {
    display: flex;
    gap: 18px;
    text-align: start;
    justify-content: flex-end;

    &>.own-block__left {
        &>p {
            opacity: .7;
        }

        &>p:first-child,
        &>p:nth-child(2) {
            font-weight: 700;
            opacity: 1;
        }
    }

    &>div:last-child {
        &>p {
            text-align: start;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.032px;
            opacity: .7;
        }

        &>p:nth-child(2) {
            visibility: hidden;
        }
    }

    &>div {
        &>p+p {
            margin-top: 20px;
        }
    }
}

.title {
    color: var(--orange-3, #FFAC69);
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.036px;
    margin-bottom: 20px;
    text-align: start;
}

.form__edit {
    &>div.form__edit-top {
        display: flex;
    }

    &>div:last-child {
        &>p {}
    }

    &>div+div {
        margin-top: 24px;
        padding-top: 32px;
        border-top: 1px solid rgba(114, 114, 136, 0.5);
    }
}

.block__input__status {
    &>li>div {
        background-color: rgba(62, 62, 80, 1);
        border: none;
    }

    & input {
        width: calc(347px - 16px - 24px) !important;
        height: 48px !important;
        color: #878890;
    }

    & ul {
        width: 347px;
    }
}

.block__input__authorized-person {
    display: flex;
    gap: 48px;
    height: 48px;
}

.form__edit-bottom {
    &>.form__edit-bottom__block-input {
        display: flex;

        &>div {
            flex: 0 0 33.333333%;

            &>div:last-child,
            &>div:first-child {
                &>div+div {
                    margin-top: 12px;
                }
            }
        }
    }

    & .nationality-combo-box {
        &>li {
            &>div {
                background: var(--bg-lighter, #2B2B3F);
                border: none;
            }

            &>ul {
                width: 325px !important;
                z-index: 1;
            }
        }

        & input {
            width: calc(325px - 16px - 24px) !important;
            height: 48px;
        }
    }
}

.form__action {
    padding-bottom: 80px;
}

input[type='text'],
input[type='password'] {
    width: 325px !important;
}

textarea {
    resize: none;
    width: auto;
}