.form__device-inputs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.device-inputs__information {
    .image {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-bottom: 1.5rem;
    }
}

.device-inputs__information__status {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 28px;

    &>p {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
    }

    &>.inputs__status__checkbox {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 50px;
    }
}