.action-container {
    width: 0;
    height: max-content;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #2F2F41;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow-x: hidden;
    transition: width .15s linear;
}

.action-container {
    &.top-right {
        top: 0;
        right: 0;
    }

    &>div {
        &+div {
            border-top: 1px solid var(--bg-page);
        }
    }

    &.active {
        width: 11rem;
    }
}

.action-box__container-content {
    width: 0;
    background-color: var(--color-orange);
    position: fixed;
    bottom: 4rem;
    right: 4rem;
    border-radius: 16px;
    transition: width .1s linear, height .1s linear;
    overflow: hidden;
    z-index: 1;

    &>li {
        list-style: none;

        &>a {
            display: block;
            text-align: start;
            text-decoration: none;
            padding: 0 1rem;
            white-space: nowrap;
        }

        &+li {
            margin-top: 2rem;
        }
    }

    &.active {
        width: 190px;
        padding: 2rem 1rem;
    }
}

.action-box__icon {
    width: 25px;
    height: 25px;
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    background-color: var(--color-orange);
    padding: 1rem;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
}