.action-container {
    width: 0;
    height: max-content;
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    background-color: #2F2F41;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow-x: hidden;
    transition: width .15s linear;
}

.action-container {
    &.top-right {
        top: 0;
        right: 0;
    }

    &>div {
        & p {
            // width: max-content;
        }

        &+div {
            border-top: 1px solid var(--bg-page);
        }
    }

    &.active {
        width: 11rem;
    }
}