.history-for-control {
    &>div:last-child {
        &>div:first-child {
            width: 1541px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;

            &>div:nth-child(2)>div {
                margin-top: 0;
            }
        }

        &>div:last-child {
            &>p {
                text-align: start;
                color: #E5E5E5;
                font-size: 24px;
                font-weight: 700;
                line-height: 24px;
                letter-spacing: -0.048px;
                margin: 24px 0;
            }
        }
    }
}

.history-for-control__table {
    width: 1541px;
}