.config-edit-contract__form {
    width: max-content;

    & input {
        width: 117px;
    }
}

.form__body {
    width: 100%;
    height: 444px;
    border-radius: 16px;
    background: var(--middle-bg);
    padding: 24px;

    &>.form__body__title {
        color: #E5E5E5;
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.048px;
        text-align: start;
    }

    &>.form__body__input {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 24px;

        &>p:first-child {
            font-size: 16px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.032px;
            text-align: start;
        }
    }
}

@media screen and (max-width: 740px) {
    .config-edit-contract {
        .config-edit-contract__form {
            width: calc(100vw - 8rem);
        }
    }
}

@media screen and (max-width: 550px) {
    .form__body {
        .form__body__input {
            flex-direction: column;
            align-items: flex-start;
        }
    }
}