.user-role-edit {
    margin-right: 40px;
    position: relative;

    & .form__body {
        display: flex;
        gap: 4rem;
        align-items: flex-start;

        &>.form__body__left {
            & textarea {
                width: 557px;
                height: 120px;
                resize: none;
            }

            & input[type='text'] {
                width: 557px;
            }
        }
    }
}

.edit__right-container {
    &>p {
        text-align: start;
    }
}

.functionals-responsive {
    max-width: 1070px;
    width: max-content;
    overflow-x: overlay;
}

.functionals-container {
    width: 1063px;
    height: 558px;
    padding: 16px 24px;
    border-radius: 16px;
    background-color: rgba(47, 47, 65, 0.70);

    &>.functionals-container__header {
        display: flex;
        margin-bottom: 16px;

        &>p {
            color: var(--color-orange-3);
            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: 0.028px;
            text-align: start;

            &.title {
                width: 225px;
            }

            &.name {
                width: 400px;
            }

            &.code {
                width: 417px;
            }
        }
    }

    &>.functionals-container__body {
        &>.functional-detail-item {
            display: flex;

            &>.item__type-name {
                width: 225px;
                display: flex;
                align-items: center;
                justify-content: flex-start;
            }

            &>.item__functional-container {
                &>.item {
                    display: flex;
                    align-items: center;
                    padding: 12px 0;
                    cursor: pointer;

                    &>.item-name {
                        width: 400px;
                        display: flex;
                        align-items: center;
                    }

                    &>p {
                        width: 417px;
                        text-align: start;
                    }
                }

                &>.item+.item {
                    border-top: 1px solid #727288;
                }

                & p {
                    opacity: .7;
                }
            }
        }

        &>div+div {
            border-top: 1px solid rgba(245, 245, 255, .5);
        }
    }
}

@media screen and (max-width: 1780px) {
    .user-role-edit {
        .functionals-responsive {
            width: calc(100vw - 55.7rem - 16rem);
        }
    }
}

@media screen and (max-width: 1200px) {
    .user-role-edit {
        & .form__body {
            flex-direction: column;
            width: max-content;
        }
    }
}

@media screen and (max-width: 1200px) and (min-width: 900px) {
    .user-role-edit {
        & .functionals-responsive {
            width: calc(100vw - 12rem);
        }
    }
}

@media screen and (max-width: 900px) {
    .user-role-edit {
        & .functionals-responsive {
            width: calc(100vw - 8rem);
        }
    }
}

@media screen and (max-width: 640px) {
    .user-role-edit {
        & .form__body {
            &>.form__body__left {
                & textarea,
                & input[type='text'] {
                    width: calc(100vw - 8rem);
                }
            }
        }
    }
}