.management-entrustment-contract {
    &>div:last-child>div:first-child {
        &>div:nth-child(2) {
            margin-top: 24px;

            &>div:last-child {
                display: none;
            }
        }
    }
}

.entrustment-contract__table-data,
.authorized-contract__table-data {
    & table {
        width: 1541px;
        display: none;

        &.active {
            display: table;
        }
    }

    & .status {
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 8px;
            height: 8px;
            position: absolute;
            top: 50%;
            left: -15px;
            transform: translateY(-50%);
            border-radius: 50%;
        }

        &.new::after {
            background-color: var(--color-green);
        }

        &.cancelled::after {
            background-color: var(--color-red);
        }

        &.still::after {
            background-color: var(--color-blue);
        }

        &.expiration::after {
            background-color: var(--color-gray);
        }
    }
}

.management-authorized-contract {
    &>div:last-child>div:first-child {
        width: 1541px;

        &>div:last-child {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            align-items: center;
            margin: 24px 0;
            max-width: 1541px;
            width: 100%;

            &>div:last-child {
                width: max-content;
                gap: 5rem;

                &>div {
                    margin-top: 0;
                    display: flex;
                    align-items: center;
                    gap: 2rem;
                }

                &>div>div>li {
                    margin-top: 0;

                    & input {
                        width: 146px !important;
                    }

                    &>ul {
                        width: calc(146px + 16px + 24px) !important;
                    }
                }
            }
        }
    }
}

.reason-cancel-contract-form {
    & h3 {
        padding: 0;
        margin: 0 auto 40px auto;
    }

    & textarea {
        width: 640px;
        height: 208px;
        resize: none;
    }
}

@media screen and (max-width: '1760px') and (min-width: '889px') {
    .management-authorized-contract {
        &>div:last-child>div:first-child {
            width: calc(100vw - 21rem);
        }
    }
}

@media screen and (max-width: '900px') {
    .management-authorized-contract {
        &>div:last-child>div:first-child {
            width: calc(100vw - 8rem);
        }

        & .reason-cancel-contract-form {
            &>div>div>div {
                width: 100%;

                &>textarea {
                    width: 100%;
                    height: auto;

                    &::-webkit-scrollbar {
                        display: none;
                    }
                }
            }

            & h3 {
                font-size: 2rem;
                margin: 0 auto 15px auto;
            }

            & button {
                margin-top: 0;
            }
        }
    }
}

@media screen and (max-width: '750px') {
    .management-authorized-contract {
        div:has(> input[name=search])>input[name=search] {
            width: 100% !important;
        }
    }
}

@media screen and (max-width: '1430px') {
    .management-authorized-contract {
        &>div:last-child>div:first-child {
            &>div:last-child {
                flex-direction: column;
                align-items: flex-start;
                gap: 2rem;
            }
        }
    }
}

@media screen and (max-width: '1430px') and (min-width: '700px') {
    .management-authorized-contract {
        &>div:last-child>div:first-child {
            &>div:last-child {
                &>div:last-child>div {
                    &>div:first-child {
                        display: none;
                    }

                    &>div:last-child {
                        display: flex;
                    }
                }
            }
        }
    }
}