.renvenue-report-detail {
    &>div:last-child>div:first-child>div {
        max-width: 1541px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row-reverse;

        &>div:last-child>div {
            margin-top: 0;
            gap: 32px;
        }
    }
}

.renvenue-report-detail__filter {
    display: flex;
    align-items: center;

    &>p {
        margin-right: 12px;
    }

    &>div {
        height: 48px;

        & input {
            width: calc(264px - 16px - 24px) !important;
            height: 48px;
        }

        &>li {
            margin-top: 0 !important;
            width: max-content !important;

            &>div {
                border-radius: 8px;
                border: 1px solid var(--text-stroke-text-and-stroke-2, #727288);
                background: var(--Background-BG, #1E1E2E);
                position: relative;
                z-index: 2;
            }

            &>ul {
                z-index: 3 !important;
            }
        }
    }
}

div:has(>.renvenue-report-detail__table) {
    max-width: 1690px;

    &>.renvenue-report-detail__table {
        width: 1690px;
    
        & tbody>tr>td>p {
            white-space: nowrap;
        }
    }
}

.renvenue-report-detail__form {
    & h3 {
        color: var(--text-stroke-text-and-stroke, #F5F5FF);
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: -0.048px;
        padding-top: 0;
    }

    & .form__content {
        &>p {
            width: 100%;
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.032px;
            text-align: start;
        }
    }
}

@media screen and (max-width: 1760px) and (min-width: 900px) {
    .renvenue-report-detail {
        &>div:last-child>div:first-child>div {
            width: calc(100vw - 21rem);
        }
    }
}

@media screen and (max-width: '1400px') {
    .renvenue-report-detail {
        &>div:last-child>div:first-child>div {
            flex-direction: column-reverse;
            gap: 2rem;
            align-items: flex-start;

            & div:has(>input[name='search']) {
                width: max-content;
            }
        }
    }
}

@media screen and (max-width: '680px') {
    .renvenue-report-detail {
        &>div:last-child>div:first-child>div {
            &>div:last-child>div {
                flex-direction: column;
                align-items: flex-start;
                gap: 32px;
            }

            & input[name='search'] {
                width: calc(100vw - 8rem);
            }
        }
    }
}

@media screen and (max-width: '330px') {
    .renvenue-report-detail__filter {
        &>div>li>div {
            width: calc(100vw - 8rem);
        }
    }
}

@media screen and (max-width: 685px) and (min-width: 374px) {
    .renvenue-report-detail {
        & .renvenue-report-detail__form {
            padding: 20px;

            & button {
                width: calc(50% - .5rem) !important;

                &+button {
                    margin-left: 1rem;
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .renvenue-report-detail {
        & .renvenue-report-detail__form {
            padding: 20px;

            &>div>div:last-child {
                display: flex;
                flex-direction: column;
                gap: 2rem;
                align-items: center;

                & button {
                    width: calc(100% - 4rem) !important;
                    margin: 0;
                }
            }
        }
    }
}