.container-layout__login {
    padding: 2rem 5rem;

    &>div+div {
        margin-top: 6rem;
    }

    a {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        color: var(--color-orange);
    }
}

@media screen and (max-width: 600px) {
    .container-layout__login {
        padding: 2rem;

        &>div+div {
            margin-top: 2rem;
        }
    }
}

@media screen and (max-width: 620px) {
    .container-layout__login {
        button[type='submit'] {
            padding: 1rem 2rem;
        }

        button {
            max-width: 90% !important;
            width: max-content;
        }

        form div:has(>input) {
            width: 90% !important;
            margin: 0 auto;

            & p {
                max-width: 90%;
            }

            & input[type='text'] {
                width: 100% !important;
            }
        }
    }
}