.content {
    display: flex;
    gap: 24px;
}

.content__left {
    display: flex;
    flex-direction: column;
    gap: 24px;

    &>div {
        padding: 16px;
        border-radius: 16px;
        background: rgba(47, 47, 65, 0.70);
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &>.schedule-information {
        &>p {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.036px;
            text-align: start;
        }

        &>div {
            margin: 0;

            &>input {
                width: 241px;

                &[type='date'] {
                    border-color: var(--orange-4-default, #FF7506);
                    background-color: var(--background-bg, #1E1E2E);

                    &::-webkit-calendar-picker-indicator {
                        color: rgba(0, 0, 0, 0);
                        opacity: 1;
                        display: block;
                        background: url("../../../images/u_calendar-image.png") no-repeat;
                        width: 20px;
                        height: 20px;
                        border-width: thin;
                        cursor: pointer;
                    }
                }
            }

            &>p {
                color: rgba(174, 174, 174, 1);
            }
        }
    }
}

.playlist {
    max-height: 468px;
    overflow-y: overlay;

    &>div {
        &>p {
            font-size: 18px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.036px;
            text-align: start;
        }
    }

    &>div+div {
        padding-top: 12px;
        border-top: 1px solid #C8C8DB;
    }
}

.playlist-item {
    width: 240px;
    height: 68px;
    display: flex;
    flex-direction: column;
    padding: 8px 16px;
    gap: 8px;
    border-radius: 8px;
    background: #33334D;
    position: relative;

    &>.playlist-item__title>p {
        color: #FFAC69;
        text-align: start;
    }

    &>.playlist-item__time {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &>p:first-child {
            font-size: 14px;
            font-weight: 700;
            line-height: 20px;
            letter-spacing: -0.028px;
        }

        &>p:last-child {
            color: #AEAEAE;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            letter-spacing: 0.21px;
        }
    }

    &>.playlist-item__close-action {
        display: none;
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;
    }
}

.playlist__current,
.playlist__new {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dialog-confirm {
    border-radius: 16px;
    background: var(--bg-lightest, #3E3E5B);
    padding: 33px;
    display: none;

    &.active {
        display: block;
    }
}

.action {
    margin: 40px 0;
}

.playlist__new,
.playlist__current {
    user-select: none;

    &>div {
        cursor: pointer;
    }
}

.dialog-confirm {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    
    &>div:first-child {
        &>p:first-child {
            color: #F5F5FF;
            font-size: 24px;
            font-weight: 700;
            line-height: 24px;
            letter-spacing: -0.048px;
        }

        &>p:last-child {
            color: var(--white, #FFF);
            font-size: 14px;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 0.21px;
        }

        &>p+p {
            margin-top: 24px;
        }

        &>.table__body__dialog__checkbox {
            margin-top: 24px;
        }
    }

    & button {
        width: 168px;
    }
}

.playlist-schedule-edit__dialog {
    & .dialog__choose-days {
        display: flex;
        max-width: 474px;
        flex-wrap: wrap;
        gap: 32px;
        row-gap: 16px;
    }

    & .dialog__choose-times {
        &>div+div {
            margin-top: 10px;
        }
    }

    &>div:first-child>div+div {
        border-top: 1px solid #C8C8DB;
        padding-top: 26px;
        margin-top: 26px;
    }
}

.time-box-container {
    &>p {
        font-size: 14px;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: -0.028px;
        text-align: start;
    }

    &>.time-box-item__time {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-top: 6px;

        & input {
            width: 48px;
            height: 40px;
            padding: 11px 15px;
        }
    }
}