.td__category {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    height: 47px;
}

.category-box {
    width: max-content;
    height: auto;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid var(--text-stroke-2, #727288);

    &>p {
        opacity: .7;
    }
}

.action__type-load {
    &.table-visible {
        &>svg:first-child {
            color: var(--color-orange);
        }
    }

    &.grid-visible {
        &>svg:last-child {
            color: var(--color-orange);
        }
    }
}

.common-page-container {
    &>div>div:nth-child(2)>div:first-child {
        justify-content: flex-end;
    }
}

// box item

.grid-container__item {
    width: 342px;
    height: 352px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    cursor: pointer;

    &>.item__image {
        width: 342px;
        height: 98%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;

        &>img {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
    }

    &>.item__content {
        width: 342px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: rgba(57, 57, 85, 1);
        border-radius: 0px 0px 8px 8px;
    }

    &:hover .item__image__icon {
        background-color: rgba(255, 255, 255, 1);
    }
}

.item__image {
    &>img {
        width: 100%;
        height: auto;
    }
}

.group-content {
    display: flex;
    flex-direction: column;
    align-items: start;

    &>p+div {
        margin-top: 4px;
    }
}

.item__content {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: flex-end;
    padding: 8px 16px 16px 16px;
    gap: 9px;

    &>.item__content__left {
        display: flex;
        flex-direction: column;
        gap: 12px;

        &>div {
            text-align: start;
        }
    }

    &>.item__content__right {
        &>svg {
            width: 24px;
            height: 24px;
            color: var(--color-orange);
        }
    }
}

.item__content__right {
    &>div>.content__right__title {
        font-weight: 600;
    }

    &>.box__category {
        display: flex;
        align-items: center;
        gap: 8px;

        &>div {
            padding: 4px 8px;

            &>p {
                font-size: 12px;
                line-height: 18px;
            }
        }
    }

    &>.box__content-more {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    &>.box__content>div {
        width: max-content;
        display: flex;
        align-items: center;

        &>p {
            opacity: 0.8;
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;

            &.title {
                opacity: 1;
            }
        }

        &>p+p {
            padding-left: 5px;
        }
    }

    &>div+div {
        margin-top: 8px;
    }
}